<%- include("partials/header.ejs") %>


        <main class="px-3">
            <% if (locals.data) { %>

            <div class="container my-5 central-box rounded-3">
                <div class="p-5 text-center">
                    <h2>Free Spirits!</h2>
                    <h6 class="mb-3">Random Cocktail Recipe Generator<br />(Refresh for a new recipe)</h6>
                    <img src="<%= data.drinks[0].strDrinkThumb %>" class="bi mb-3 rounded-3" height="250" alt="Picture of drink">
                    <h1><%= data.drinks[0].strDrink %></h1>
                    <h5 class="col-lg-8 mx-auto mb-3"> <%= data.drinks[0].strCategory %>, <%= data.drinks[0].strAlcoholic %> </h5>
                    <h4>Ingredients:</h4>                 
                        <div class="d-inline-flex gap-2">
                          <ul>
                            <% for (let i = 0; i < ingredients.length; i++) { %>
                              <% if (ingredients[i] !== null && ingredients[i] !== "") { %>
                                <li><p><strong><%= measurements[i] %></strong> <%= ingredients[i] %></p></li>
                              <% } %>
                            <% } %>
                          </ul>
                        </div>
                    <h4>Instructions:</h4>                 
                        <div class="d-inline-flex gap-2">
                            <p><%= data.drinks[0].strInstructions %></p>
                        </div>
                </div>
            <% } else { %>
                <%= error %>
            <% } %>

<%- include("partials/footer.ejs") %>
        